body {
  font-family: "Poppins", sans-serif;
}

body img {
  width: 70%;
  display: block;
}

.courses .img {
  display: block;
  margin: auto;
  width: 70%;
}

.courses-container {
  display: -ms-grid;
  display: grid;
  margin: 30px 150px 0px 150px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
}

.courses-container .courses {
  padding: 2rem;
}

.courses-container .courses__name {
  font-weight: bold;
  text-decoration: underline;
  display: block;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
  margin: 9px;
}

.courses-container .courses__tag {
  border: 1px solid #000;
  border-radius: 15px;
  color: #f5fff7;
  background-color: orange;
  padding: 10px;
  display: inline;
  margin: 9px;
}

.courses-container .courses__disc {
  font-size: 20px;
  margin: 9px;
}

.courses-container .courses__fees {
  font-weight: bold;
  margin: 9px;
}

/* Full-width input fields */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 4;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 60%;
  /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}

button {
  display: inline-block !important;
  width: auto;
  border-radius: 15px;
}

@media only screen and (max-width: 768px) {
  .modal-content {
    width: 80%;
    /* Could be more or less, depending on screen size */
    margin: auto;
  }
  .courses-container {
    display: -ms-grid;
    display: grid;
    margin: auto;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .courses-container .courses {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1.5rem;
  }
  .courses-container .courses__name {
    font-size: 25px;
    margin: 7px;
  }
  .courses-container .courses__tag {
    border: 0.5px solid #000;
    margin: 7px;
    padding: 7px;
  }
  .courses-container .courses__disc {
    font-size: 17px;
    margin: 7px;
  }
  .courses-container .courses__fees {
    margin: 7px;
  }
}
/*# sourceMappingURL=course.css.map */